.service-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:25px;

}

.service-card{

background:var(--primary);

color:white;

padding:45px;

border-radius:18px;

text-align:center;

font-size:20px;

cursor:pointer;

box-shadow:var(--shadow);

}

@media(max-width:900px){

.service-grid{

grid-template-columns:1fr;

}

}