.stats{

background:var(--primary);

color:white;

}

.stats-grid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:30px;

}

.stat-card{

text-align:center;

padding:35px;

}

.stat-card h2{

font-size:50px;

margin-bottom:10px;

}

@media(max-width:900px){

.stats-grid{

grid-template-columns:repeat(2,1fr);

}

}