.nova-input-group{

    display:flex;

    flex-direction:column;

    gap:8px;

    margin-bottom:25px;

}

.full-width{

    width:100%;

}

.nova-label{

    font-weight:600;

    color:var(--text-primary);

}

.required{

    color:var(--danger);

    margin-left:5px;

}

.nova-input{

    border:1px solid var(--border);

    border-radius:var(--radius-md);

    transition:var(--transition);

    background:white;

    color:var(--text-primary);

}

.small{

    padding:10px 12px;

    font-size:14px;

}

.medium{

    padding:14px 16px;

    font-size:16px;

}

.large{

    padding:18px 20px;

    font-size:18px;

}

.nova-input:focus{

    border-color:var(--primary);

    box-shadow:0 0 0 3px rgba(37,99,235,.2);

}

.nova-input:disabled{

    background:#e2e8f0;

    cursor:not-allowed;

}

.error{

    border-color:var(--danger);

}

.error:focus{

    box-shadow:0 0 0 3px rgba(239,68,68,.2);

}

.helper-text{

    color:var(--text-secondary);

    font-size:14px;

}

.error-text{

    color:var(--danger);

    font-size:14px;

}