.contact-form{

max-width:700px;

margin:auto;

display:flex;

flex-direction:column;

gap:20px;

background:white;

padding:40px;

border-radius:20px;

box-shadow:var(--shadow);

}

.contact-form input,

.contact-form textarea{

padding:15px;

border:1px solid #ddd;

border-radius:10px;

font-size:16px;

}

.contact-form textarea{

height:160px;

resize:none;

}

.contact-form button{

background:var(--primary);

color:white;

border:none;

padding:15px;

border-radius:10px;

cursor:pointer;

transition:.3s;

}

.contact-form button:hover{

transform:translateY(-3px);

}