.loader-container{

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    min-height:100vh;

    gap:20px;

}

.loader-spinner{

    width:60px;

    height:60px;

    border:6px solid #e5e7eb;

    border-top:6px solid var(--primary);

    border-radius:50%;

    animation:spin .8s linear infinite;

}

.loader-container p{

    color:var(--text-secondary);

    font-size:18px;

}

@keyframes spin{

from{

transform:rotate(0deg);

}

to{

transform:rotate(360deg);

}

}