.back-top{

position:fixed;

bottom:30px;

right:30px;

width:55px;

height:55px;

border:none;

border-radius:50%;

background:#2563eb;

color:white;

cursor:pointer;

font-size:20px;

box-shadow:0 10px 20px rgba(0,0,0,.2);

z-index:999;

}